# Файлы логов
log.txt
*.log


# Временные файлы сборки (для проектов Visual Studio)
bin/
obj/
Properties/
.vs/
*.exe
*.dll
*.pdb
*.DB
*.xlsx

# Файлы пользовательских настроек
appsettings.json
*.user
*.suo